@font-face {
    font-family: "OhioState";
    src: url("/fonts/ohio-state/ohio-state/Ohio-Collegiate.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

hr {
    margin: 1rem auto;
    padding: 5px;
    opacity: 1;
    border: none;
    border-radius: 5px;
    backdrop-filter: brightness(40%);
    box-shadow: 0px 0px 5px black, 2px 2px 2px black;
}

a {
    color: #333;
}

hr.thick-rule {
    padding: 10px;
    border-radius: 10px;
}

.w70 {
    width: 70vw;
}

.w60 {
    width: 60vw;
}

main.home-main {
    margin: 0;
    padding: 3vw 0;
    min-height: 90vh;
    width: 100%;
    background-image: url(../images/football-field-part.png);
    background-size: 100%;
}

.endzone {
    box-sizing: border-box;
    margin: 0;
    padding: 0px 0;
    width: 100%;
    text-align: center;
    background-color: #990000;
    border: 1vw solid #d3d3d3;
    text-shadow: 0 0 10px black;
}
.endzone h1 {
    max-height: 20vw;
    margin: 0;
    padding: 0;
    font-size: 20vw;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    color: #d3d3d3;
    font-family: "OhioState", sans-serif;
    font-weight: 0;
}

.upsidedown {
    transform: rotate(180deg);
}

div.field-box {
    width: 80vw;
    margin: auto;
    padding: 10px;
    background-color: #006010;
    border: 5px solid #005010;
    box-shadow: 5px 5px 5px black;
}

div.general-text-box {
    width: 80vw;
    margin: auto;
    padding: 10px;
    /* background-color: #00a50b;
    border: 5px solid #005711; */
    backdrop-filter: brightness(40%) blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
div.general-text-box h1 {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}
div.general-text-box p {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.application-title {
    text-align: center;
}

#coverLetter {
    margin-bottom: 20px;
}

.index-intro {
    text-align: center;
}

div.semitransparent-box {
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 10px black, 0px 0px 10px black;
}
div.semitransparent-box h1 {
    color: black;
    font-weight: bold;
    text-align: center;
}
div.semitransparent-box p {
    font-weight: bold;
    color: black;
}

div.menu-header{
    background-color: #d3d3d3;
    text-align: center;
    border-bottom: 1vw solid #d3d3d3;
}

.image-cap {
    margin-bottom: 0 !important;
    padding: 20px !important;
}
.image-cap a {
    color: blue;
    text-decoration: underline blue;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
.image-cap h5 {
    font-size: 20pt !important;
}

.carousel-button:hover {
    backdrop-filter: brightness(70%);
}

.rounded-box {
    border-radius: 20px;
    overflow: hidden;
}
.inner-rounded-box {
    border-radius: 10px;
    overflow: hidden;
}

/* Form Styling */
.hiring-form{
    /* border: 3px solid black; */
    /* width: 65%; */
    font-size: 1.5em;
    /* border-radius: 20px; */
    /* background-color: white; */
    margin:auto;
    margin-bottom: 50px;
    padding: 20px;
}

.hiring-form label{
    margin-left: 10px;
}

.hiring-form input{
    background-color: gainsboro;
    margin-bottom: 10px;
}

.hiring-form button{
    margin-left: 43%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.application-title {
    text-align: center;
}

#coverLetter
{
    margin-bottom: 20px;
}

/* Stlyes for Contact Form Page*/
.contact-page-form {
    text-align: center;
}

.contact-page-form-grid {
    margin-top: 1.5%;
    padding: 2%;
    text-align: center;
}

/* Style rules for contact form page elements. */
fieldset, input, select {
    margin-bottom: 2%;
}

#instagram-design {
    display: block;
}

.fieldset-styling {
    text-align: left;
}

/* fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
    text-shadow: 1px 1px;
} */

.input-label-design {
    display: block;
}

#contact-page-form-submit {
   text-align: center;
   padding: 3%;
}

#submit {
    font-weight: bold;
    padding: 1%;
}

.form-control {
   margin-bottom: 15px;
}

#back-to-top {
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: -10px;
    margin-right: 20px;
    padding: 10px;
    padding-bottom: 15px;
    background-color: #990000;
    border: 2px solid #d3d3d3;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    box-shadow: -3px -3px 5px black, -3px 3px 5px black, 0px 0px 5px black;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    
    transition: transform 0.1s;
}
#back-to-top:hover {
    bottom: 0px;
}
#back-to-top:active {
    bottom: 0px;
    transform: scale(50%, 200%);
}

/* Desktop Viewport */
@media screen and (min-width: 601px) {
    .mobile {
        display: none;
    }

    h1 {
        font-size: 2em;
    }

    .normal-width {
        width: 70vw;
    }

    .small-width {
        width: 60vw;
    }

    div.semitransparent-box {
        margin: 40px auto;
        padding: 50px;
        border-radius: 20px;
    }
    div.semitransparent-box h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }
    div.semitransparent-box p {
        font-size: 20px;
    }

    #instagram-design img {
        width: 4%;
        height: 1%;
    }

    #label-design {
        display: inline-flex;
    }

    #back-to-top {
        margin-right: 80px;
        font-size: 20pt;
    }
}

/* Laptop Viewport*/
@media screen and (max-width: 1550px) {
    #label-design {
        display: block;
    }
}

/* Tablet Viewport */
@media screen and (max-width: 768px) {
    #label-design {
        display: block;
    }
}

/* Mobile Viewport */
@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    h1 {
        font-size: 1em;
    }

    .normal-width {
        width: 90vw;
    }

    .small-width {
        width: 70vw;
    }

    div.semitransparent-box {
        margin: 10px auto;
        padding: 15px;
        border-radius: 10px;
    }
    div.semitransparent-box h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }
    div.semitransparent-box p {
        font-size: 16px;
    }

    div.mobile-quicknav a {
        display: block;
        border: 0.5vw solid #d3d3d3;
        border-radius: 0;
        background-color: #007B2F !important;
    }

    #instagram-design img {
        width: 20%;
        height: 20%;
    }

    #back-to-top {
        margin-right: 20px;
        font-size: 13pt;
    }
}

/* Contact Page Styling */

/*Heading Design*/
.contact-page-header-design {
    margin: auto;
    margin-top: 25px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #000;
}

/* Main  Design*/
/*Border Design*/
.contact-page-box {
    margin: auto;
    color: #000;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.contact-page-box a {
    color: #000;
}

.menu-section {
    padding: 10px;
    border-radius: 20px;
}

.menu-section:target {
    animation: focus-blink 0.5s linear 0.5s 1 normal both;
}

.menu-section article { 
    margin: 50px auto;
}

.menu-section article:target {
    animation: focus-blink 0.5s linear 0.5s 1 normal both;
}

.order-area div {
    margin: 50px 0;
}

.glass-frame {
    padding: 10px;
    backdrop-filter: brightness(70%);
    border-radius: 20px;
    box-shadow: 5px 5px 10px black, 0px 0px 10px black;
}

.location-display {
    width: 100%;
    height: 400px;
}

ul.order-list {
    margin: 0;
    padding: 0;
}
ul.order-list li {
    padding: 5px;
    border-top: 2px solid rgba(50,50,50,0.6);
    border-bottom: 2px solid rgba(50,50,50,0.6);
}

#link-logo {
    display: block;
    z-index: 100;
    position: absolute;
    right: 0;
    height: 40px;
    margin: 10px;
}
#link-logo img {
    height: 40px;
}

@keyframes back-to-top-drop {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: -150px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes focus-blink {
    0% {
        backdrop-filter: brightness(100%);
    }

    50% {
        backdrop-filter: brightness(70%);
    }

    100% {
        backdrop-filter: brightness(100%);
    }
}