@font-face {
    font-family: "OhioState";
    src: url("/fonts/ohio-state/ohio-state/Ohio-Collegiate.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
}

main.home-main {
    margin: 0;
    padding: 3vw 0;
    min-height: 90vh;
    width: 100%;
    background-image: url(/images/football-field-part.png);
    background-size: 100%;
}

.endzone {
    box-sizing: border-box;
    margin: 0;
    padding: 0px 0;
    width: 100%;
    /* font-size: 4vw; */
    text-align: center;
    background-color: #990000;
    border: 1vw solid #d3d3d3;
}
.endzone h1 {
    margin: 0;
    padding: 0;
    font-size: 20vw;
    text-align: center;
    color: #d3d3d3;
    font-family: "OhioState", sans-serif;
}

.upsidedown {
    transform: rotate(180deg);
}

div.field-box {
    width: 80vw;
    margin: auto;
    padding: 10px;
    background-color: #006010;
    border: 5px solid #005010;
    box-shadow: 5px 5px 5px black;
}

div.general-text-box {
    width: 80vw;
    margin: auto;
    padding: 10px;
    /* background-color: #00a50b;
    border: 5px solid #005711; */
    backdrop-filter: brightness(40%) blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
div.general-text-box h1 {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}
div.general-text-box p {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

div.semitransparent-box {
    width: 70vw;
    margin: auto;
    padding: 50px;
    /* background-color: #00a50b;
    border: 5px solid #005711; */
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 5px 5px 10px black, 0px 0px 10px black;
}
div.semitransparent-box h1 {
    color: black;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}
div.semitransparent-box p {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

form {
    border: 3px solid black;
}

@media screen and (min-width: 551px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .desktop {
        display: none;
    }
}